.container {
    max-width: 600px;
    padding: 20px;
}

.container h2 {
    color: #F4F4F5;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
}

.main p {
    text-align: left;
    font-weight: 100;
    font-size: 14px;
    color: #F3FAFA99;
}



.footer {
    background-color: #0669B140;
    display: grid;
    place-items: center;
    border-radius: 20px;
    margin-top: 30px;
    

}

.footer p {
    font-size: small;
    font-weight: 100;
    color: white;

}