
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  flex: 1;
}
.container h1 {
    color: #ffffff;
    text-align: center;
    font-weight: 300;
    font-size: 40px;
}

.header {
  padding-top: 15px;
}

.container p {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #ffffff;
}

.tabs {
width: 100vw;
display: grid; place-items: center;
}

